body {
    background: #ddd;
}

#root{
    margin: 0 10px;
    padding: 10px;
    background: #aaa;
}

.page-header {
    margin: 0;
}

.tableHeader input {
    max-width: 100px;
}

.uploadRecordingRow {
    display: flex;
    justify-content: space-around;
}

.uploadPanel {
    min-width: 600px;
}
.countPanelInputs {
    display: inline-block;
}
.countButton {
    margin: 2px;
}
.countResult {
    text-align: center;
    background: #ddd;
}
.react-bs-table-container {
    background: #eee;
}

ul {
    margin: 0;
    padding: 0;
}

.navigationMenu {
    display: flex;
    list-style-type: none;
}
.action i {
    margin: 0 5px;
}
.navigationMenu li {
    background: #444;
    border: 1px solid #ddd;
    width: 150px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.navigationMenu li a {
    color: white;
    text-decoration: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.fileTable {
margin-top: 10px;
}

.react-bs-table {
    margin: 0 !important;
}
.react-fine-uploader-gallery-nodrop-container, .react-fine-uploader-gallery-dropzone {
    min-height: 250px !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #444; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disabled {
    pointer-events: none;
}

tr.disabled {
    background-color: antiquewhite !important;
    pointer-events: all;
}

.opacity-half {
    opacity: 0.5 !important;
}

.title {
    padding-left: 10px;
}

.tab-content {
    padding: 20px 2px 2px 2px;
    background: rgb(250, 250, 250);
    border: 1px solid #ddd;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li.active > a {
    background: rgb(250, 250, 250) !important;
}

table td {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 2px !important;
}

table td button {
    margin: 2px 2px !important;
}
table th {
   text-align: center !important;
}

.hide {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#upload-progress {
    width: 100%;
    display: none;
}